.user-location {
    padding: 10px;
    width: 50%;
    text-align: left;
    .location-search-input {
      width: 400px;
    }
    .autocomplete-dropdown-container {
      position: absolute;
      z-index: 1000;
      margin-top: 10px;
      width: 400px;
      border-radius: 8px;
  
      .user-location-suggest {
        border-left: 1px solid rgba($color: gray, $alpha: 0.3);
        border-top: 1px solid rgba($color: gray, $alpha: 0.3);
        border-right: 1px solid rgba($color: gray, $alpha: 0.3);
        background: white;
        padding: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:first-child {
          border-top: 1px solid rgba($color: gray, $alpha: 0.3);
          border-bottom: none;
          border-radius: 8px 8px 0 0;
        }
        &:last-child {
          border-bottom: 1px solid rgba($color: gray, $alpha: 0.3);
          border-radius: 0 0 8px 8px;
        }
        &:only-child {
          border-radius: 8px;
        }
        &.suggestion-item--active {
          background: rgba($color: #efc958, $alpha: 1);
        }
      }
    }
  }